<!-- {{outlet}} -->
<h1>Boggiddy do neighborino</h1>
<p>This is Dylan Stackhouse and Jenifer Beem's blog to end all blogs. Look no further, this is all you will ever need to fultill your life</p>

{{#link-to "contact"}}Contact Us{{/link-to}}
{{#link-to "index"}}Home{{/link-to}}
