<!-- {{outlet}} -->
<h1>Contact</h1>
<ul>
  <li>admin@bloggi-do.org</li>
  <li>Phone: 834-8379-7788</li>
</ul>
<ul>
  <li>Buisness hours:</li>
  <li>Mon: 4 A.M. - 12 A.M.</li>
  <li>Tue: 4 A.M. - 12 A.M.</li>
  <li>Wed: 4 A.M. - 12 A.M.</li>
  <li>Thu: 4 A.M. - 12 A.M.</li>
  <li>Fri: 4 A.M. - 12 A.M.</li>
  <li>Weekend: N/A</li>
</ul>

{{#link-to "about"}}About{{/link-to}}
{{#link-to "index"}}Home{{/link-to}}
