<div class="jumbotron">
  <h1>Multitudes of Minutiae</h1>
</div>

<div id="featured">
</div>

<div id="posts">
  <!-- each entry received by model call listed here by passing data into post-tile component-->
  {{#each model as |post|}}
    {{post-tile post1=post}}
  {{/each}}
</div>
